<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>ALGO INESPERADO ACONTECEU.</h1>
        <h2>Um erro aconteceu durante a pesquisa.</h2>
    </hgroup>
</body>
</html>
