@model IEnumerable<AniconAppAspNET.ViewModels.ListAllProdViewModel>

@{
    ViewBag.Title = "Home Page";
}
@if (TempData["MsgLogin"] != null)
{
    <div class="alert alert-success btn-lg">
        @TempData["MsgLogin"]
    </div>
}
<section class="slider-banner">
    <div class="container-banner">
        <img src="~/Content/Images/banner.png" alt="banner da página inicial">
        <img src="~/Content/Images/banner.png" alt="banner da página inicial">
        <img src="~/Content/Images/banner.png" alt="banner da página inicial">
    </div><!--container-bannner-->
</section><!--slider-banner-->
<div class="container">
    <div class="inicio jumbotron">
        <h1>BEM-VINDO À ANICON - A SUA LOJA GEEK</h1>
        <h2>Esses são nossos principais produtos:</h2>
        <div class="container-prod">
            @foreach (var item in Model)
            {
                <div class="prod-single">
                    <div class="prod-single-img">
                        <img src="@Url.Content(item.Prod_Img)" />
                    </div><!--prod-single-img-->
                    <div class="prod-single-info">
                        <p class="prod-nome">
                            @for (var i = 0; i < 1; i++)
                            {
                                var descTrimmed = item.Prod_Nome;

                                @Html.DisplayFor(modelItem => descTrimmed);
                            }...
                        </p>
                        <p class="prod-preco">R$@Html.DisplayFor(modelItem => item.Prod_Val)</p>
                        <a class="prod-link" href="@Url.Action("DetalhesProduto", "Produto", new { Prod_Cod = item.Prod_Cod })">Detalhes</a>
                    </div><!--prod-single-info-->
                </div><!--prod-single-->
            }
        </div><!--container-prod-->
    </div>
</div>


